<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title><%=h html_title %></title>
<meta name="description" content="<%= Redmine::Info.app_name %>" />
<meta name="keywords" content="issue,bug,tracker" />
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<!--[if IE 6]>
    <style type="text/css">
      * html body{ width: expression( document.documentElement.clientWidth < 900 ? '900px' : '100%' ); }
      body {behavior: url(<%= stylesheet_path "csshover.htc" %>);}
    </style>
<![endif]-->
<%= call_hook :view_layouts_base_html_head %>
<!-- page specific tags -->
<%= yield :header_tags -%>

<!-- Custom Libraries -->
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/easyTooltip.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="js/hoverIntent.js"></script>
<script type="text/javascript" src="js/superfish.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- End of Custom Libraries -->

</head>
<body class="<%=h body_css_classes %>">
	<!-- Header -->
	<div id="header">
				
		<!-- Top -->
		<div id="top">
			<!-- Logo -->
			<div class="logo"> 
				<a href="/" title="Home" class="tooltip"><img src="<%=current_theme.image_path "logo.png" %>" alt="" /></a> 
			</div>
			<!-- End of Logo -->
			<%= page_header_title %>
			<!-- Meta information -->
			<div id="top_menu">
			<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
			
			<div class="meta">
				<%= content_tag('p', "#{l(:label_logged_as)} #{link_to_user(User.current, :format => :username)}".html_safe, :id => 'loggedas') if User.current.logged? %>
				<%= render_menu :account_menu -%>
				<!--
				<ul>
					<li><a href="#" title="End administrator session" class="tooltip"><span class="ui-icon ui-icon-power"></span>Logout</a></li>
					<li><a href="#" title="Change current settings" class="tooltip"><span class="ui-icon ui-icon-wrench"></span>Settings</a></li>
					<li><a href="#" title="Go to your account" class="tooltip"><span class="ui-icon ui-icon-person"></span>My account</a></li>
				</ul>	-->
			</div>
			</div>
			<!-- End of Meta information -->
		</div>
		<!-- End of Top-->
			
		<!-- The navigation bar -->
	    <% if display_main_menu?(@project) %>
	    <div id="main-menu">
	        <%= render_main_menu(@project) %>
	    </div>
	    <% end %>
		<!-- End of navigation bar" -->
				
		<% if User.current.logged? || !Setting.login_required? %>
		<!-- Search bar -->
		<div id="quick-search">
	        <%= form_tag({:controller => 'search', :action => 'index', :id => @project}, :method => :get ) do %>
	        <%= hidden_field_tag(controller.default_search_scope, 1, :id => nil) if controller.default_search_scope %>
	        <label for='q'>
	          <%= link_to l(:label_search), {:controller => 'search', :action => 'index', :id => @project}, :accesskey => accesskey(:search) %>:
	        </label>
	        <%= text_field_tag 'q', @question, :size => 20, :class => 'small', :accesskey => accesskey(:quick_search) %>
	        <% end %>
	        <%= render_project_jump_box %>
		</div>
		<!-- End of Search bar -->
		<% end %>
				
	</div>
	<!-- End of Header -->

<%= tag('div', {:id => 'main', :class => (sidebar_content? ? '' : 'nosidebar')}, true) %>
    <div id="sidebar">
        <%= yield :sidebar %>
        <%= view_layouts_base_sidebar_hook_response %>
    </div>

    <div id="content">
        <%= render_flash_messages %>
        <%= yield %>
        <%= call_hook :view_layouts_base_content %>
        <div style="clear:both;"></div>
    </div>
</div>

<div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
<div id="ajax-modal" style="display:none;"></div>

<div id="footer">
	<p class="mid">&copy; Light Team Work 2012. All rights reserved.</p>
</div>

<%= call_hook :view_layouts_base_body_bottom %>
</body>
</html>